.footer-dark {
	text-align: center;
	color: white;
	background-color: rgba(35,52,69, 1);
	padding: 4em 1em 2em 1em;
}

.footer-left {
	text-align: center;
}

.footer-right {
	text-align: center;
}

.footer-bottom {
	text-align: center;
}

.footer-bottom img {
	max-width: 150px;
}

@media (min-width: 768px) { ... }