<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prop47</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Template CSS + Custom CSS -->
    <link href="css/type.css" rel="stylesheet" type="text/css" />
    <link href="css/typeform-style.css" rel="stylesheet" type="text/css" />
    <link href="css/landing.css" rel="stylesheet" type="text/css" />
    <link href="css/nav.css" rel="stylesheet" type="text/css" />
    <link href="css/footer.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <section class="cover">
      <div class="cover-landing--basic">
        <div class="cover-screen">
          <div class="container cover-text">
            <div class="col-xs-12 col-sm-6">
              <h1 class="main-cta">Proposition 47 removes some felonies from your record</h1>
              <h2 class="second-cta" >Take the first step. <br>
              Submit a request with the court in 10 minutes.</h2>
              
              <a href="https://jenny139.typeform.com/to/j2YWFx" class="btn btn-lg btn-typeform btn-typeform-primary">Change your record</a>
              <div class="state-info">
                <img class="state-icon" src="images/california_white.svg" alt="California">
                <p class="state-disclaimer">GetProp47.org is a free, non-profit service for California residents</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="container second-section">
        <div class="section-left col-xs-12 col-sm-5">
            <h2>CalFresh is California's <br>Food Stamps Program</h2>
          <img class="calfresh-logo" class="calfresh-logo" src="/images/calfresh_logo.png">
            <br>
            <p>Food Stamps help individuals and families buy extra groceries when they are in need. GetCalFresh.org is a free, non-profit service that makes it easy to apply for CalFresh from your phone or computer. Once you apply, your county CalFresh office will determine how much assistance you qualify for based on your income and household size.</p>
        </div>
        <div class="section-right col-xs-12 col-sm-6 col-sm-offset-1">
            <h2>Already applied for CalFresh? <br>Take the Next Step.</h2>
            <p>&nbsp;</p>
            <h3>Get in Touch with Your <br> County Office</h3>
            <p>Have other questions about your pending application or existing case? Call your county CalFresh office to get the information you need.</p>
            <a href="/contact" class="btn btn-lg btn-typeform btn-typeform-secondary">Call Your County</a>
            <p>&nbsp;</p>
            <h3>Send Documents to Your <br> County Office</h3>
            <p>Your county CalFresh office may ask for documents regarding your income, expenses, or citizenship. Send them here when you're ready.</p>
            <a href="<%= @docs_url %>" class="btn btn-lg btn-typeform btn-typeform-tertiary">Send in Documents</a>
        </div>
    </section>
    <section class="third-section">
      <div class="container">
        <div class="steps-intro">
          <h2>Enrolling in CalFresh Takes 3 Steps</h2>
          <h3>It can take up to 30 days to get enrolled in CalFresh. Start today.</h3>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <img class="step-icon img-circle" src="/images/application_icon.svg" alt="">
            <div class="step-text">
              <h3>Apply Online</h3>
              <p>Apply on your phone or computer here at GetCalFresh.org. It takes less than 10 minutes. Your application will be submitted to your county's CalFresh office. </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img class="step-icon img-circle" src="/images/interview_icon.svg" alt="">
            <div class="step-text">
              <h3>Have an Eligibility Call</h3>
              <p>A few days after you apply, you'll receive a call from the CalFresh office in your county. During the call, they'll ask about your income, expenses, and citizenship status&mdash;and give you a list of documents to provide in order to enroll.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img class="step-icon img-circle" src="/images/documents_icon.svg" alt="">
            <div class="step-text">
              <h3>Send Your Documents</h3>
              <p>Collect the documents you've been asked to provide, and send them to your county via GetCalFresh.org. You can upload documents as many times as you like. Once you've submitted the required documents, your county office will determine your eligibility.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fourth-section">
      <div class="container">
        <div class="row">
          <div>
                <h2>Apply today to learn if you qualify</h2>
                  <p>&nbsp;</p>
                <p>As you complete your GetCalFresh.org application, we'll ask you important questions about your income, expenses, citizenship status and household size. Throughout the application, we'll let you know if you are likely to qualify. After you submit an application, your county CalFresh office will give you a true determination of your eligibility.</p>
                <a href="<%= @county_url %>" class="btn btn-lg btn-typeform btn-typeform-primary">Apply Now</a>
          </div>
        </div>
      </div>
    </section> -->
  </body>
</html>